@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    @await Component.InvokeAsync("MessageList")
    <partial name="_MessageBox" />
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
        <p>Log in to access the Chat Room.</p>
    </div>
}
